# if [[ "$OSTYPE" == "linux-gnu"* ]]; then
#     echo "Adding PyTorch source for Linux environment..."
#     poetry source add pytorch https://download.pytorch.org/whl/cu124
# else
#     echo "No source to add for ${OSTYPE} environment..."
# fi
layout_poetry
